body {
    font-family: Roboto;
    background-color: #F59D2C;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
    text-align: center;
}
    h1{
        font-size: 40pt;
    }

header {
    text-align: center;
}

#hero, footer {
    text-align: center;
    color: white;
    background-color:#AB7E44 ;
    padding: 10px;
    border: 2px solid #006CA8;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(even) {
    color: black;
}